<section class="header ">
    <div class="header-button">
        <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
    </div>
    <div class="banner">
        <picture>
            <img class="img-banner" src="../assets/img/erica-magugliani-olSh3t6DGSk-unsplash.jpg" alt="">
        </picture>
    </div>
    <div class="header-data">
        <picture class="personal-picture">
            <img src="../assets/img/20180612_005858.jpg" alt="">
        </picture>
        <div class="header-info">
            <h3 class="title-info">Daniel Refchke</h3>
            <p class="about">
                Full Stack Developer Jr
            </p>
            <p class="description-info">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet eius distinctio officiis totam
                voluptatem quia expedita obcaecati. Ipsum similique fuga et esse optio. Laboriosam eaque hic
                voluptate quo, nemo maiores!
            </p>
        </div>
    </div>
</section>
