<header class="header ">
    <div *ngIf="isLogged" class="header-button">
        <i class="fa fa-pencil-square fa-2x" aria-hidden="true" (click)="editThis()" data-bs-toggle="modal" data-bs-target="#modalheader"></i>
    </div>
    <div class="banner">
        <picture>
            <img class="img-banner" src="../assets/img/{{header.imgback}}" alt="">
        </picture>
        <div class="img-credits">Foto de {{header.imgcred}}</div>
    </div>
    <div class="header-data">
        <picture class="personal-picture">
            <img src="../assets/img/{{header.imgpersona}}" alt="">
        </picture>
        <div class="header-info">
            <h3 class="title-info">{{header.nombre}}</h3>
            <p class="about">
                {{header.titulo}}
            </p>
            <div class="description-info" [innerHTML]="header.descripcion">
            </div>
        </div>
    </div>
</header>
