
    <div class="col">
        <picture>
            <img class="header-picture" src="./assets/img/logo-ap.png" alt="">
        </picture>
        #YoProgramo
    </div>
    <div class="col col-auto buttons">
        <a href="">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
        <button class="btn">Acceder</button>

    </div>

