<div (onInit)="incializar()">
<tabset  [formGroup]="formGroup" #itemeditortab>
    <tab [active]="isActive('element-img')" id="element-img" heading="Imagen" (selectTab)="cambiarTipo('element-img')">
        <app-image-picker  id="imgback" formControlName="contDinamico"></app-image-picker>
    </tab>
    <tab [active]="isActive('element-grap')" id="element-grap" heading="Grafico" (selectTab)="cambiarTipo('element-grap')">
        <input type="number" min="1" max="100"  class="form-control" id="contDinamico" formControlName="contDinamico" placeholder="">
    </tab>
    <tab [active]="isActive('element-languaje')" id="element-languaje" heading="Texto" (selectTab)="cambiarTipo('element-languaje')">
        <input type="text" class="form-control" id="contDinamico" formControlName="contDinamico" placeholder="">
    </tab>
</tabset>
</div>