<section *ngFor="let seccion of secciones" class="{{seccion.className}}">
    <div class="section-title row">
        <div class="title-text col">
            <h3>{{seccion.name}}</h3>
        </div>
        <div class="title-button col">
            <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="{{seccion.displayMode}}">
        <div class="element" *ngFor="let elemento of seccion.elementos">
            <div class="{{elemento.classType}}">
                Es
            </div>
            <div class="element-content">
                <div class="title-element row">
                    <div class="title-element-text col">
                        <h4>{{elemento.name}}</h4>
                    </div>
                    <div class="title-element-buttons col">
                        <span class="button-group">
                            <i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i>
                            <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="element-description">
                    <p class="marcation">{{elemento.anotation}}</p>
                    <p>{{elemento.info}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
